h1 {
  font-family:Arial;
  color:teal;
}



h3 {

}

/*************************************
Resume
**************************************/

#header {
  text-align: center;
}

body {
	margin: 20px 10 10;
  }
