h1 {
  font-family:Arial;
  color:teal;
}



h3 {

}

/*************************************
Resume
**************************************/

#header {
  text-align: center;
}

#content {
  margin: 20px, 10px;
}

body {
	text-align: center;
	padding: 10px 0;
	margin: 20px 0 0;
  }
