h1  {
 font-family: 'Changa One', sans-serif;
 margin: 10px 0;
 font-size: 1.75em;
 font-weight: normal;
 line-height: 0.5;
 text-align: center;
 color: 	#FF0000;

 }


h2 {
  font-family=Arial;
  color=teal;
}



h3 {
  

}
