
@charset "UTF-8";

html {
  scroll-behavior: smooth;
}

.header {
  background-color: #e1e5ea;
  font-family: "Saira Extra Condensed";
  width: 100%;
  height: 21.2%;
  position: fixed;
  z-index: 1;
}


h1 {
  padding-top: 18px;
  text-align: center;
  font-size: 34px;
}

h2 {
  font-size: 30px;
  font-family: "Noto Sans";
  color: #194350;
  margin-top:12.5%;
}

h3 {
  font-size: 22px;
  font-family: Menlo;

}

h4 {
  font-size: 18px;
  font-weight: bold;
  width: 100%;
}

p {
  line-height: 1.2;
  float: left;
  margin: 0 auto;
}

img {
  float: center;
  align-items: right;
  padding: 5px;

}

.h1.right {
  text-align: right;
}

div {
  border: 2px black;
  padding: 5px;
  margin: 5px;
}

li {
  margin-bottom: 8px;
  font-size: 14px;
}

ul {
  margin-top: 10px;
  margin-bottom: 12px;
  margin: 0 auto;
}

.company {
  padding-left: 0;
  width: 100%;
  margin: 0 auto;
}
.position {
  padding-top: 10px;
  padding-left: 0;
  font-size: 16px;
  font-weight: bold;
  text-align: left;
  float: left;
  line-height: 1;
  overflow: hidden;
  margin: 0 auto;
  width: 75%;
}

.date {
  white-space: nowrap;
  text-align: right;
  float: right;
  justify-content: flex-end;
  overflow: hidden;
  margin: 0 auto;
  width:25%;
  color: #28527a;

}




.column {
  float: left;
}

.column.left {
  width: 18%;
  height: 100%;
  position: fixed;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 20%;
  float: center;
  text-align: center;

}


.column.img {
  display: grid;
  grid-auto-flow: column;
  align-items: left;
  justify-items: left;
}

#modal {
  position: absolute;
  height: 78.7%;
  width: 99.5%;
  top: 21.5%;
  left: 0%;
  float:right;
  overflow-y: scroll;
}
#parent {
  height: 6000px;
}

#context {
  position: absolute;
  overflow-y: scroll;
  top: 0px;
  bottom: 0;
  left: 0;
  right: 0;
}

#overlay {
  background-color: transparent;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}


.column.middle {
  width: 55%;
  margin-left: 20%;
  margin-bottom: 7.5%;
  padding-bottom:7.5%;
  float: left;

}

.column.right {
  width: 20%;
  margin-top: 7%;
  margin-right: 2.5%;
  float: right;
}

.column.project {
  width: 78%;
  border-left-style: solid;
  border-left-color: lightgray;
  border-width: 2px;
  padding-left: 20px;
}


.container {
  padding: 20px;
  border: 2px lightgray;
  border-style: solid;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #050520;
    text-align: center;
    padding: 14px 26px;
    text-decoration: none;
    font-size: 20px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #4caf50;
  color: white;
}


.accordion {
  background-color: white;
  color: black;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  border: none;
  outline: none;
  transition: 0.4s;
  width: 100%;
}

.active, .accordion:hover {
  background-color: #ccc;
}

.panel {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  border-left-width: 1px;
  border-left-style: solid;
  border-color: lightgray;
}

.ptools {
  font-family: Menlo;
  font-size: 12px;
  text-align: right;
}