<!DOCTYPE html>
<html lang="en">


<head>
    <title>Lucy Chung's Portfolio</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">

    <link rel="stylesheet" href="static/styles.css">
    <link rel="shortcut icon" type="image/png" href="static/images/lucyprofile.jpb' %}">

    <!-- Add Bootstrap JS plugins for certain CSS components -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
</head>

<body>
    <div class="header">
        <h1>Lucy Chung's Portfolio</h1>

    <nav class="navbar navbar-expand-lg navbar-light" style="margin-bottom: 5px; background-color: #e1e5ea; ">
        <div class="collapse navbar-collapse justify-content-center" id="navbarText">
          <div class="navbar-nav mb-2 mb-lg-0">
              <a class="nav-link" aria-current="page" href="#home">About Me</a>
              <a class="nav-link" href="#projects">Projects</a>
              <a class="nav-link" href="#research">Research</a>
          </div>
        </div>
    </nav>

    </div>


        <div class="column left">
            <div class="column img">
                <img src="static/images/lucyprofile.jpg" alt="selfie" width="220"/>
            </div>
            <hr>
            <h3>Connect</h3>
                chung.lucy96@yahoo.com
                <br>
                LinkedIn.com/in/lucychung-2023
        </div>

   <div id="context">
        <div id="parent"></div>
   </div>
    <div id="overlay">
    </div>
    <div id="modal">
        <div class="column middle">
            <div id="home">

                <h2>About me</h2>
                <hr>
                <p>
                    I put parenthesis around "Lu" because my middle nap is actually self-declared. While all of my other family members seem to have middle names,
                    my mother may have forgetten to give me one.  Not to worry though, she has been forgiven. The child bearing process is no easy feat for us homo sapiens
                    and I'm glad to be given the chance at life so frankly, people can call me whatever they like.
                    <br>
                    <br>
                    This is my first semester as a graduate student in the IT Innovation program. I came from just right down the street (Creighton University)
                    where I got my undergraduate degree in neuroscience. In order to expand my career prospects, I felt that this masters program
                    will give me both technical and business skills required to succeed in any field because technology is guaranteed to overlap!
                    <br>
                    <br>
                    In this class, I'm hoping to really improve my intermediate Python coding skills and add more useful tools into my repository that could help
                    me succeed in the future.  While technology is my career passion, I also have interests in poetry, the liberal arts, science, our education system,
                    health, medicine, <em>our healthcare system</em>, stocks, death, and even my future parenting style to name a few!
                    <br>
                    <br>

                </p>
            </div>
        </div>

    <div class="column right">
        <div class="container">
            <h3><strong>Education</strong></h3>
                <p>
                    <ul>
                      <li><strong>University of Nebraska at Omaha</strong>
                        <br>Masters in IT Innovation</li>
                      <li><strong>Creighton University</strong>
                        <br>Bachelors in Neuroscience</li>
                      <li><strong>Faculty-lead Study Abroad</strong>
                        <br>Social Justice in Petionville, Haiti</li>
                    </ul>
                </p>

        </div>
    </div>



    <div class="column middle">
        <div id="projects">
        <h2>Projects</h2>
        <hr>
            <h4>Kits Inventory Tracking System (KITS)</h4>
            This web application allows researchers involved in human clinical trials to track and organize their research kits.
            <br>
            <br>
            <b>Tools:</b> Django.py, SQL, Selenium testing software, Trello
       <hr>

            <h4>Intersection Simulator</h4>
            This program simulates road intersections and allow users to make modifications to test the flow of traffic.
            This simulation uses process-based discrete-events and data visualization tools to report results.
            <br>
            <br>
            <b>Tools:</b> Simpy, Madplotlib, Numpy, Pandas

        <hr>
            <h4>SqueakyClean Project Planning</h4>

            This project focused primarily on project planning and initiation involved in the SDLC.
            <br>

            <div class="dropdown">
                <li>Project Charter</li>
                    <div class="dropdown-content">
                        <img src="..//static/images/SqueakyClean Project Charter.png" alt="box" width="200"/>
                    </div>
            </div>
            <img src="..//static/images/clean_shirt.png" alt="box" width="120"/>
            <br>
            <br>
        </p>
        </div>
    </div>

    <div class="column right">
        <div class="container">
            <h3 style="font-family: Menlo""><strong>Programming</strong></h3>
                <p>
                    <ul>
                      <li>C++</li>
                      <li>Javascript</li>
                      <li>Python</li>
                      <li>Django</li>
                      <li>SQL</li>
                      <li>HTML</li>
                      <li>CSS</li>
                    </ul>
                </p>

        </div>
    </div>


    <div class="column middle">
        <div id="research">
            <h2>Research</h2>
            <hr>
            <div class="position">Clinical Research Associate</div><div class="date"> Aug 2020 - Present</div>
            <div class="company">University of Nebraska Medical Center - Omaha, NE</div>
            <ul>
              <li>Support doctors and nurses collect/process data of research samples
              and maintaining the Clinical Trials database</li>
            </ul>


            <div class="position">Summer Research Intern in Pharmcology</div><div class="date"> Summer 2018</div>
            <div class="company">Creighton University, Dr. Destache's laboratory</div>
            <ul>
                <li>Placed 3rd in the Research Colloquilum</li>
                <li>From hybridoma cultures, I purified and characterized CCR5 antibodies aimed to be utilized in future research
                in medication formulation for HIV prophylaxis for susceptible populations</li>
            </ul>

            <div class="position">Experimental Neuroscience Research Assistant</div><div class="date"> Jan 2017 - Dec 2017</div>
            <div class="company">University of Nebraska Medical Center, Dr. Monaghan labaoratory</div>
            <ul>
              <br>- With Dr. Monaghan at the University of Nebraska Medical Center
              <br>- <a href="https://pubmed.ncbi.nlm.nih.gov/31786200/">Our publication on NMDA neuronal receptors in 2020</a>
              <br>- <em>Performed stereotaxic surgery on mice, and acquired and analyzed neuronal oscillation data to investigate the role of NMDA and glutamate
              neuroreceptors that are altered in many mental disorders</em></li>
            </ul>

        </div>
    </div>


    <div class="column right">
        <div class="container">
            <h3><strong>Awards & Certifications</strong></h3>
            <p><ul>
                <li>Professional Scrum Certified (PSM1)</li>
                <li>Summer Research Institute Colloquium placed 3rd in research competition in August 2018 (Research funded by LB692)</li>
                <li>Haddix Foundation Scholarship, granted by Omaha North High School (Full tuition, room/board, & health insurance)</li>
                <li>Global Initiative Scholarship granted by Creighton University ($4,000 award to cover study abroad expenses)</li>
                <li>Deans Honor Roll, 6 semesters (3.5 or higher GPA)</li>
                </ul>
              <br>
            </p>
        </div>
    </div>


  </div>
    </body>



</html>