<!DOCTYPE html>
<html lang="en">


{% extends "base.html" %}
{% block content %}

    <div class="column middle">
        <h2>Projects</h2>
        <hr>
            <h4>Kits Inventory Tracking System (KITS)</h4>
            This web application allows researchers involved in human clinical trials to track and organize their research kits.
            <br>
            <br>
            <b>Tools:</b> Django.py, SQL, Selenium testing software, Trello
       <hr>

            <h4>Intersection Simulator</h4>
            This program simulates road intersections and allow users to make modifications to test the flow of traffic.
            This simulation uses process-based discrete-events and data visualization tools to report results.
            <br>
            <br>
            <b>Tools:</b> Simpy, Madplotlib, Numpy, Pandas

        <hr>
            <h4>SqueakyClean Project Planning</h4>

            This project focused primarily on project planning and initiation involved in the SDLC.
            <br>

            <div class="dropdown">
                <li>Project Charter</li>
                    <div class="dropdown-content">
                        <img src="..//static/images/SqueakyClean Project Charter.png" alt="box" width="200"/>
                    </div>
            </div>
            <img src="..//static/images/clean_shirt.png" alt="box" width="120"/>
            <br>
            <br>
            <br>
            <br>
        </p>

    </div>

    <div class="column right">
        <div class="container">
        <h3><strong>Tools</strong></h3>

        </div>
    </div>


    {% endblock %}

    </body>
</html>