        <div class="column slide">
            <div id="slideshow">
                <div class="slide-wrapper">

                <!-- Define each of the slides
                and write the content -->
                    <div class="slide">
                    <h1 class="slide-number">
                    Project Charter
                    </h1>
                    </div>
                    <div class="slide">
                    <h1 class="slide-number">
                    Wireframes
                    </h1>
                    </div>
                    <div class="slide">
                    <h1 class="slide-number">
                    Application
                    </h1>
                    </div>
                    <div class="slide">
                    <h1 class="slide-number">
                    </h1>
                    </div>
                </div>
            </div>
        </div>